apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    app: longhorn
  name: longhorn-ui
  namespace: longhorn-sytem
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  ingressClassName: tailscale
  rules:
  - host: longhorn
    http:
      paths:
      - backend:
          service:
            name: longhorn-frontend
            port:
              number: 80
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - longhorn
