apiVersion: kustomize.config.k8s.io/v1alpha1 # Note: v1alpha1 for components
kind: Component

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: any
      spec:
        template:
          spec:
            priorityClassName: cluster-critical
    target:
      kind: Deployment
  - patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: any
      spec:
        template:
          spec:
            priorityClassName: cluster-critical
    target:
      kind: StatefulSet
